@import "variables";

.button-outline {
	background: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 130px;
	padding: 0 10px;
	min-height: 0;
	height: 36px;
	line-height: 1;

	&.active {
		color: $color-primary;
	}
}

.button-block {
	background: #274175;
  color: #fff;
  border: none;
  margin: 0;

  &:hover {
  	color: #fff;
  }
  &.active, &.focus {
    background: $color-primary;
    text-decoration: none;
    color: #fff;
  }
}

.button.button-save {
	margin: 0;
}

.button.button-half {
	width: 49%;
	margin: 0 0.4%; //hack TODO: fix
}

.button.button-half-left {
	margin-left: 0;
}

.button.button-half-right {
	margin-right: 0;
}

.button.button-interested {
	margin-top: 0;
}

.button-footer {
	bottom: 15px;
	right: 15px;
	z-index: 11;
	width: 45px;
	background-color: #ed3d54;
	border-radius: 50em;
	height: 45px;
	min-height: 0;
	opacity: 1;
	color: #fff;
	box-shadow: 1px 1px 6px #888;
	
	&:before {
		font-size: 18px !important;
	}

}

.button-fixed {
	position: fixed;
}