@import "variables";

.button-outline {
	background: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 130px;
	padding: 0 10px;
	min-height: 0;
	height: 36px;
	line-height: 1;

	&.active {
		color: $color-primary;
	}
}

.button-block {
	background: #274175;
  color: #fff;
  border: none;
  margin: 0;

  &:hover {
  	color: #fff;
  }
  &.active, &.focus {
    background: $color-primary;
    text-decoration: none;
    color: #fff;
  }
}

.button.button-save {
	margin: 0;
}

.button.button-half {
	width: 49%;
	margin: 0 0.4%; //hack TODO: fix
}

.button.button-half-left {
	margin-left: 0;
}

.button.button-half-right {
	margin-right: 0;
}