@import "variables";

.feature {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 480px;
    position: absolute;
    bottom: 260px;
    left: 0;
    text-shadow: 1px 1px 1px #000;

    h2 {
        color: #fff;
        font-size: 18px;
        text-shadow: 1px 1px 1px #000;
        margin: 7px;
    }

    i {
    font-size: 28px;
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    text-shadow: none;
    width: 36px;
    height: 36px;
    padding: 4px;
    display: inline-block;
    }
}

.slide-bg-1 {
    background: url('/images/bg_1_anim.jpg');
    -webkit-animation: loader 12s ease-in-out infinite;
}

@-webkit-keyframes loader {
    0% { background-position: -50px 0;
    }
    25% { background-position: -100px 0;
    }
    75% {background-position: 0 0;}
    100% {background-position: -50px 0}
}

.slide-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,.6);
}

.slide-bg-2 {
    background: url('/images/bg_4_anim.jpg');
    -webkit-animation: loader 12s ease-in-out infinite;
}

.slide-bg-3 {
    background: url('/images/bg_3_anim.jpg');
    -webkit-animation: loader 12s ease-in-out infinite;
}

.slide-bg-4 {
    background: url('/images/bg_2_anim.jpg');
    -webkit-animation: loader 12s ease-in-out infinite;
}

.slide-bg-5 {
    background: url('/images/bg_1.jpg');
    -webkit-animation: loader 12s ease-in-out infinite;
}

.slider-pager {
    bottom: 85px;
}

.slider-pager .slider-pager-page {
    color: #fff;
}

.unlogged-screen {
    width: 100%;
    height: 100%;
    background: url('/images/bg_1.jpg');
    background-size: cover;
    @extend .padding;
}

.login-screen__footer {
    position:  absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;

    a {
        display: block;
        float: left;
        width: 50%;
        padding: 0 4%;
        margin-bottom: 5%;
        text-decoration: none;
    }
    
    .button {
        margin: 0;
        width: 100%;
    }
}

.login-form {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 10px;

    .keyboard-open & {
        top: 0;
    }

    input {
        padding: 15px;
        height: 42px;
        background: rgba(255,255,255, .1);
        border-bottom: 2px solid #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 80%;
        margin: 15px auto;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        font-weight: bold;

        &::-webkit-input-placeholder {
           color: #fff;
           text-shadow: 1px 1px 1px #000;
        }
    }
    .button.button-login, .button.button-register {
        width: 80%;
        margin: 15px auto;
    }
}

.login-services {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    
    a {
        color: #fff;
        font-size: 16px;
        margin: 0 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-block;
        padding: 7px;
        font-size: 22px;
    }

    .login-with-facebook {
        background: #3a5799;
    }

    .login-with-google {
        background: #df4a32;
    }
}

.register-alerts {
    width: 80%;
    margin: 15px auto;
}