.login-screen {
    width: 100%;
    height: 100%;
    background: url('/images/bg.jpg');
    background-size: cover;
    @extend .padding;
}

.login-screen__footer {
    position:  absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;

    a {
        display: block;
        float: left;
        width: 50%;
        padding: 0 2%;
        margin-bottom: 5%;
    }
    
    .button {
        width: 100%;

        &.login {
            background: #274175;
            color: #fff;
            border: none;
        }
    }
}

.login-form {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    padding: 10px;

    input {
        padding: 15px;
        height: 42px;
        background: rgba(255,255,255, .1);
        border-bottom: 2px solid #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 80%;
        margin: 15px auto;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        font-weight: bold;

        &::-webkit-input-placeholder {
           color: #fff;
           text-shadow: 1px 1px 1px #000;
        }
    }

    .button-login, .button-register {
        background: #274175;
        width: 80%;
        margin: 15px auto;
        color: #fff;
        border: none;
    }
}

.login-services {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    
    a {
        color: #fff;
        font-size: 16px;
        margin: 0 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-block;
        padding: 7px;
        font-size: 22px;
    }

    .login-with-facebook {
        background: #3a5799;
    }

    .login-with-google {
        background: #df4a32;
    }
}

.register-alerts {
    width: 80%;
    margin: 15px auto;
}