@import "variables";

.menu-content {
	box-shadow: none;
}

.menu-left {
	border-right: 6px solid $color-separator;
	background: url('/images/menu_bg.png');

	.content {
		height: 100%;
	}
}

.menu-right {
	background: #e3e8e9;
	color: $color-text;

	.content {
		height: 100%;
		padding: 15px;
	}
}

.nav-footer {
	position: absolute;
	bottom: 50px;
	color: #fff;
	width: 100%;
	text-align: center;

	.nav-copy {
		margin-top: 10px;
	}
}

.menu-right-settings-title {
	display: inline-block;
	float: left;
}

.menu-right-settings-value {
	float: right;
	font-weight: 600;
}

.menu-right-settings-setter {
	float: left;
	width: 100%;
	padding: 15px 20px;
}