@import "variables";

.messenger {
	background: #e3e8e9;
}

.messenger .list a {
	color: #fff;
	text-decoration: none;
}
.messenger .list .item {
	color: #fff;
	border: none;
	background: none;
	padding: 0px;
	border-bottom: 1px solid rgba(255,255,255,0.1);

	&.item-icon-left {
		padding-left: 54px;
	}

	&.item-icon-right {
		padding-right: 54px;
	}

	&:focus, &:active, &.active {
		background: rgba(255,255,255,0.2);
		font-weight: bold;
	}
}

.thread {
	margin-bottom: 54px;
	background: #e3e8e9;
}

.thread-preview {
	margin-bottom: 3px;
	padding: 10px;
	background: #fff;
}

.thread-preview__avatar {
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: #b8cad3;
	float: left;
	margin-right: 10px;
}

.thread-preview__participants {
	height: 19px;
}

.thread-preview__content {
	height: 20px;
	color: #666;
	font-size: 14px;
	display: inline-block;
  white-space: nowrap;
  width: 55%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow:    ellipsis;
}

.thread-preview__time {
	color: #666;
	font-size: 14px;
	display: inline;
	float: right;
}

#newThreadForm, #newMessageForm {
	width: 100%;
	position: fixed;
	bottom: 0;

	.padding {
		padding: 3px;
		width: 70px;
		float: right;
	}

	.thread__message-form {
		padding: 3px;
		width: 81%;
		display: inline-block;
	}
}

.message {
	margin: 0 20px 0;
	width: 70%;
}

.message__mine {
	float: right;
}

.message__content {
	padding: 5px 10px;
	background: #fff;
	border-radius: 5px;
	white-space: normal!important;
	word-break: break-word;
}

.message__time {
	text-align: center;
}