@import "variables";

.posts {
	//margin-bottom: 44px; //the footer height
	background: #e3e8e9;
}

.post {
	margin-bottom: 3px;
}

.post__header {
	height: 55px;
	background: #fff;
	padding: 8px 5px 5px 5px;
} 

.post__header__left {
	display: inline-block;
	padding-left: 2px;
	font-weight: 300;
	min-width: 50%;
	float: left;
}

.post__header__right {
	display: inline-block;
	padding-right: 2px;
	font-weight: 300;
	float: right;
	font-size: 12px;
	padding-top: 10px;
}

.post__header__avatar {
	width: 36px;
	height: 36px;
	border-radius: 8px;
	background: #b8cad3;
	float: left;
	margin-right: 10px;
}

.post__header__name {
	font-size: 14px;
}

.post__header__location {
	font-size: 12px;
}

.post__content {
	background: #dddddd;
	min-height: 100px;
	padding: 15px;
  	color: #444;
}

.post__form {
	min-height: 200px;
}

.post__footer {
	height: 55px;
	background: #eeeeee;
	padding: 5px;
	color: #797878;
}

.post__footer__box {
	display: inline-block;
	float: left;
	padding: 0 15px;
	border-right: 1px solid #cdcdcd;
	min-width: 30%;
	
	&.post__footer__comments {
		width: 40%;
	}

	&.last {
		border-right: none;
	}
}

.post__footer__likes {
	
	&:hover {
		.post__footer__icon i {
			color: $color-primary;
			&:before {
				content: "\f388";
			}
		}
	}
}

.post__footer__title {
	font-size: 12px;
	text-transform: uppercase;
}

.post__footer__counter {
	font-size: 16px;
 	color: #444;
}


.post__footer__icon {
	font-size: 28px;
	display: inline-block;
 	float: left;
 	margin-right: 8px;
}

.post__extension {
	background: #fff;
	padding: 15px;
	font-size: 16px;
	color: #363636;
}

.post__detail__name {
	width: 40%;
	float: left;
	font-weight: 300;
}

.post__detail__value {
	width: 60%;
	float: left;
}

.detail-checked {
	color: #27ae60;
}

.detail-unchecked {
	color: #c0392b;
}

.image {
   max-width: 100%;
} 

.post-image-container {
	margin: 10px -15px;
	margin-left: -15px; //content padding
}